<div class="navBar">
  <div class="navBarContentFirst">
    <ul class='nav'>
      <li class='nav-item'>
        <a class="nav-link active" href="/pghfree/userevents">User Events</a>
      </li>
      <li>
        <a class="nav-link active" href="/pghfree/events">PGHFREE Discovered Events</a>
      </li>
    </ul>
  </div>
  <div class="navBarContentEnd">
    <ul class='nav'>
      <li class="nav-item">
        <form action="/sessions?_method=DELETE" method="POST">
          <button class="btn btn-outline-danger " id='logOutButton' type="submit" name="button">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</div>
</div>
