/* *{
  border: 1px solid red;
} */
html, body {
  padding:0;
  margin:0;
  height:100%;
  font-family: 'Hind', sans-serif;
  background-color: #32BACD;

 }


 img{
   border-radius: 3px;
   border: 1px solid black;
 }
 div{
    border-radius: 3px;
 }

header{
background-color:  #f9f8fd;
}
.firstScreen{
  width: 20%;
  margin: 5% auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 3px;
  background-color: #f9f8fd;
}

.logo{
  display: block;
  margin: 0 auto;
}
a{
  margin: 5px 5px 5px 5px;
}

.createUser{
  width:75%;
margin: 0 auto;}

.createUserContent{
  width: 50%;
  margin: 5% auto;
  background-color: #f9f8fd;
  border: 2px solid #336699;
  padding: 20px;

}
.createButton{
  display: block;
  margin: 0 auto;
}
.signIn{
  width: 80%;
  margin: 5% auto;
}
.singInContent{
  width: 50%;
  margin: 0 auto;
}
.navBar{
  background-color: #55D8DD;
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
  margin-bottom: 3%;
  border-top: 2px solid #3C5975;
  border-bottom:  2px solid #3C5975;


}
.navBarContentFirst{
  display: flex;
  justify-content: flex-start;
  width: 80%;
  padding-left: 5px;
  padding-right: 5px;

}
.navBarContentEnd{
  display: flex;
  justify-content: flex-end;
  width: 20%;
  padding: 5px;
}
.event{
  width: 90%;
  margin: 2% auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  background-color:  #f9f8fd;
}
.event:hover{
   box-shadow: 2px 2px #888888
}
.eventImage{
  width:29%;
  display: inline-block;
  padding: 10px;
}
.eventContent{
  width: 69%;
  display: inline-block;
  text-align: right;
  padding: 10px;

}
.changepage{
  width: 100%;
  margin: 0 auto;
}
.pagination{
  display: flex;
  justify-content: center;
}
.userEventPhoto{
  width:50%;
  padding: 10px;

}
.userEventPhoto > img{
  width:63%;
  display: inline-block;

}
.userEventContent{
  width: 69%;
  display: inline-block;
  text-align: right;
  padding: 10px;

}

}
.makeNewEvent{
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  text-align: center;

}
.editEvent{
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

textarea {
    resize: none;
}

.eventContainer{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.eventShowImage{
  width:50%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 5%;
  margin-top: 5%;
}
.eventShowImage>img{
  width: 100%;
  display: inline-block;

}
.eventShowContent{
  width: 70%;
  display: inline-block;
  background-color: #88DDF1;
  padding: 20px;

}
.iframe{
  width: 80%;
  margin: 0 auto;
  border-radius: 5px solid

}

.findOutMore{
  margin-top: 5%;
}
.userEvent{
  width: 90%;
  margin: 0 auto;
  text-align: center;

}
footer{
  background-color: #336699;
  padding: 20px;
  border-top: 2px solid #55D8DD;
  width: 100%;
  text-align: right;
  margin-top: 9.5%;
  position: static;
   bottom: 0;
   left: 0;
   right: 0;
   color:  #f9f8fd;
}
.footerContent{
  color: ivory;
  line-height: .2em;

}
.buttonsContent{
  text-align: center;
  padding: 20px;
}
.findOutMore{
  margin-bottom: 2%;
  margin-top: 2%;
}
.edit{
  margin-top: 2%;
  margin-bottom: 2%;
}
.usershowimage{
  width:50%;
  margin-bottom: 20px;
}
.makeNewEvent{
  width: 100%;
}
.makeNewEventContent{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #88DDF1;
  padding: 10px;
}
.firstPageFooter{
    background-color: #336699;
    padding: 20px;
    border-top: 2px solid #55D8DD;
    width: 100%;
    text-align: right;
    margin-top: 2%;
    position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     color:  #f9f8fd;
}


.time{width: 18%;
margin: 0 auto;
}

.location{
  width: 22%;
  margin: 0 auto;
}
.makeNewEventName{
  width: 50%;
  margin: 0 auto;
}
label{
  font-size: 18px;
  font-weight: bold;
}
.dateFix{
  width: 20%;
  margin: 0 auto;
}
.editEventContent{
  background-color: #88DDF1;
  padding: 10px;
}
.nav{
  font-weight: bolder;
  font-size: 20px;
}
.userEvenContent{
  background-color: #88DDF1;
  padding: 10px;
}
.logoImage{
  border: none;
}
.firstScreen{
  border: 2px solid #336699

}
.firstscreenlogo{
  border: none;
  margin-bottom: 10%;
  margin: 5% auto;


}
.imageContainer{
  width: 100%;

}

.singInContent{
  background-color: #f9f8fd;
  padding: 20px;
  border: 2px solid #336699
}

.alreadyLoggedIn{
  background-color:#f9f8fd;
  width: 50%;
  margin: 15% auto;
  text-align: center;
  padding: 20px;
}
.buttonFix{
  margin-bottom: 5%;
}
.welcomeScreenContent{
  width: 30%;
  background-color: #f9f8fd;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.preview{
  text-align: center;
  font-size: 12px;
  display: block;
  width: 100%;
  margin-left: 0 auto;

}
