/* *{
  border: 1px solid red;
} */

.firstScreen{
  width: 30%;
  margin: 5% auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 3px;
}

.logo{
  display: block;
  margin: 0 auto;
}
a{
  margin: 5px 5px 5px 5px;
}

.createUser{
  width:75%;
margin: 0 auto;}

.createUserContent{
  width: 50%;
  margin: 5% auto;

}
.createButton{
  display: block;
  margin: 0 auto;
}
.signIn{
  width: 80%;
  margin: 5% auto;
}
.singInContent{
  width: 50%;
  margin: 0 auto;
}
.navBar{
  background-color: #55D8DD;
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
  margin-bottom: 3%;
  border-top: 2px solid #3C5975;
  border-bottom:  2px solid #3C5975;

}
.navBarContentFirst{
  display: flex;
  justify-content: flex-start;
  width: 80%;
  padding-left: 5px;
  padding-right: 5px;

}
.navBarContentEnd{
  display: flex;
  justify-content: flex-end;
  width: 20%;
  padding: 5px;
}
.event{
  width: 90%;
  margin: 2% auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.event:hover{
   box-shadow: 2px 2px #888888
}
.eventImage{
  width:29%;
  display: inline-block;
  padding: 10px;
}
.eventContent{
  width: 69%;
  display: inline-block;
  text-align: right;
  padding: 10px;

}
.changepage{
  width: 100%;
  margin: 0 auto;
}
.pagination{
  display: flex;
  justify-content: center;
}
.userEventContent{
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 10px;

}
.makeNewEvent{
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}
.editEvent{
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

textarea {
    resize: none;
}

.eventContainer{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.eventShowImage{
  width:50%;
  margin: 0 auto;
}
.eventShowImage>img{
  width: 100%;
  display: inline-block;
}
.eventShowContent{
  width: 70%;
  display: inline-block;
}
.iframe{
  width: 80%;
  margin: 0 auto;
}
.findOutMore{
  margin-top: 5%;
}
.userEvent{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
footer{
  background-color: #336699;
  padding: 25px;
  border-top: 2px solid #55D8DD;
}

.buttonsContent{
  text-align: center;
  padding: 20px;
}
.findOutMore{
  margin-bottom: 2%;
  margin-top: 2%;
}
.edit{
  margin-top: 2%;
  margin-bottom: 2%;
}
