<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ./partials/head.ejs %>
  </head>
  <body>

    <% if(currentUser) { %>

    <% } else { %>
      <div class="contianer">
        <div class="firstScreen">
              <div class="imageContainer">
                  <img class = 'firstscreenlogo img-fluid' src="/images/logo.png" alt="">
              </div>



      <ul class="nav justify-content-center">
        <div class="preview">
          <p>to preview the app: </p>
            <p>1. choose Log in</p>
            <p>2. Username: c</p>
            <p>3. Password: c</p>

        </div>

        <li class="nav-item">
          <a class = "btn btn-primary loginButton" href="/sessions/new">LOG IN</a>
        </li>
        <li class="nav-item">
           <a class = "btn btn-success signUPButton" href="users/new">SIGN UP</a>
        </li>
      </div>
    </div>
    <% } %>

    <% if(currentUser) { %>
      <div class="container">
          <div class="alreadyLoggedIn">
              <h1> Welcome <%=currentUser.username%>! </h1>
            <a href="/pghfree"><button class = 'btn btn-primary buttonFix'>Continue to PGHFREE</button></a>

   <% } %>

     <% if(currentUser) { %>

         <form action="/sessions?_method=DELETE" method="POST">
             <button type="submit" class = 'btn btn-danger'>Logout</button>
         </form>
 <% } %>
          </div>
      </div>

  </body>

</html>
