<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ./partials/head.ejs %>
  </head>
  <body>

    <% if(currentUser) { %>
      <h1> Welcome <%=currentUser.username%>! </h1>
    <% } else { %>
      <h1>Welcome!</h1>

    <a class = "btn btn-primary" href="/sessions/new">LOG IN</a>
    <a class = "btn btn-success" href="users/new">SIGN UP</a>
    <% } %>

    <% if(currentUser) { %>
    <main>
           <a href="/pghfree">Continue to PghFree</a>
    </main>
  <% } %>

    <% if(currentUser) { %>

        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
        </form>
<% } %>
  </body>
</html>
