<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <header>
    <% include ../partials/header.ejs %>
  </header>



  <nav>
    <% include ../partials/nav.ejs %>
  </nav>
  <div class="container">
    <div class="welcomeScreen">
        <div class="welcomeScreenContent">
            <p>At PGHFREE we are dedicated to bringing you up to date information about free music events around the Pittsburgh area. Under PGHFREE Discovered Events you will find events researched by our team. Most importantly, under User Events you and all the users of PGHFREE can upload your own events! This project was created  in hopes of bringing the musical community of Pittsburgh a little closer together. Please Enjoy! </p>
        </div>
    </div>
  </div>


    <div class="firstPageFooter">
      <div class="footerContent">
      <p>Created by: Caleb Griffith</p>
      <p>Contact:griffith.caleb@gmail.com</p>
      </div>
    </div>

</body>


</html>
