<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout"/>
    </form>
  </head>
  <body>
    <header>
      <h1>welcome to the app</h1>
      <div class="nav">
        <a href="/pghfree/userevents">view user submitted events</a>
        <a href="/pghfree/events">view pgh free discovred events</a>
      </div>
    </header>
 </body>


</html>
